<!DOCTYPE html>
<html>
    <head>
        <title>诗经</title>
   </head>
    <body>
        {% if sjs %}
            {% for sj in sjs %}
                <h1>{{ sj.title }}</h1>
                <h2>{{ sj.chapter }}</h2>
                <h3>{{ sj.section }}</h3>
                <strong>{{ sj.content }}</strong>
            {% endfor %}
        {% else %}
            <strong> 无数据</strong>
        {% endif %}

        <!-- 分页开始 -->
        <div>
            <ul class="pagination">
            <li><a href="?page=1">首页</a></li>
                {% if sjs.has_previous %}
                    <li><a href="?page={{ sjs.previous_page_number }}">上一页</a></li>
                {% endif %}

                {% for num in sjs.paginator.page_range %}
                   <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% if sjs.has_next %}
                    <li><a href="?page={{ sjs.next_page_number }}">下一页</a></li>
                {% endif %}

                <li><a href="?page={{ sjs.paginator.num_pages }}">尾页</a></li>
             </ul>
        </div>
        <!-- 分页结束 -->
    </body>
</html>